.containerAbout {
    padding: 75px;
    text-align: center;
}


.pAbout {
    font-family: 'Inconsolata', monospace;
}
.h2About {
    font-family: 'Inconsolata', monospace;
    font-weight: 700; 

}
.aboutIMG{
    width: 300px;
    height: 300px;
}


